* {
    margin: 0;
    padding: 0;
}
.section-1 {
    width: 100%;
    height: 100vh;
    background-image: url(img/nathon.jpg);
    background-position: center;
    background-size: cover;
}
header {
    top: 12vh;
    height: 12vh;
}
nav {
    box-sizing: content-box;
    background: rgba(128, 128, 128, 0.237);
    padding: 14px;
}
nav a {
    font-size: 16px;
    text-decoration: none;
    color: #eee;
    font-family: sans-serif;
    border-bottom: 1px solid transparent;
    transition: 0.8s;
    padding: 8px 15px;
}
nav a:hover {
    color: rgba(191, 146, 91)
}
.barber {
    font-size: 30px;
    font-weight: bold;
}
#re {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap-reverse;
    float: right;
}


.container {
    right: 150px;
    position: absolute;
    margin: 50px 10px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}
.h2 {
    color: rgba(191, 146, 91);
    font-size: 16px;
}
p {
    font-size: 35px;
}
span {
    font-size: 35px
}
.text3 {
    font-size: 18px;
}
.container2 {
    margin: 0px 60px;
}
.button {
    color: rgba(191, 146, 91);
    font-size: 20px;
    transition:   0.8s;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid;
    display: inline-block;
    padding: 4px 10px;
margin: 14px 0px;
}
.button:hover {
    color: white;
}
.card{
   display: flex;
   text-align: center;
   width: auto;
   justify-content: center;
}
.card .card1{
 background-color: rgba(1191, 146, 9);
 margin-bottom: 40px;
 width: auto;
 padding: 40px;
 line-height: 29px;
 color: white;
 position: relative;
}
.card .card2{
    background-color:rgb(184, 121, 43); 
   margin-bottom: 40px;
   width: auto;
   padding: 40px;
   line-height: 29px; 
   color: white;
   position: relative;
   }
 .card h3{
 font-size: 26px;
 margin-top: 50px;
 margin-bottom: 20px;
 }
 .card p{
    font-size: 18px;
    font-weight: bold;
 }
 
 .profile-img{
    width: 160px;
    height: 160px;
    border-radius: 80px;
    position:absolute;
    top: -30%;
    transform: translateX(-50%);
    z-index: 999;
    padding: 2px;
 } 
 .jason{
    width: 40%;
 }

.color{
    color:
    rgb(184, 121, 43);
    font-size: 18px;
    font-family:
    'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 28px;
    font-weight: bold;
}
.center{
    font-size: 35px;
    font-weight: bold;
    color: rgba(28, 28, 28, 0.881);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.for{
    font-size: 16px;
    font-weight: bold;
    color: rgba(61, 61, 61, 0.74);
    line-height: 29px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.right{
   border: 5px solid rgb(185, 126, 55);
   background-color: rgb(179, 125, 60);
   width: 35%;
   color: white;
}
.right p{
    font-weight: bold;
    font-size: 15px;
    margin: 0px 99px;
}
.abdul{
    margin-top: -54em;
    margin-left: 40em;
}
.hadi{
    margin-top: -80px;
    width: 230px;
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.calendar{
    width: 80px;
}
.ahmad{
    background: rgb(254, 239, 218);
}
.ahmad h4{
    color: rgba(191, 146, 91);
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}
.ahmad2{
    font-family:
    'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 33px;
    text-align: center;
}

