* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(img/nathon.jpg);
    background-size: cover;
}


.header nav {
    box-sizing: content-box;
    background: rgba(128, 128, 128, 0.237);
    padding: 14px;
}
.header nav a {
    font-size: 16px;
    text-decoration: none;
    color: #eee;
    font-family: sans-serif;
    transition: 0.8s;
    padding: 8px 15px;
}
.header nav a:hover {
    color: rgba(191, 146, 91)
}
.header .barber {
    font-size: 30px;
font-weight: bold;

}
.header .re {
    font-weight: bold;
    display: flex;
    float: right;
}


.container {
    right: 190px;
    position: absolute;
    margin: 51px -140px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}
.container .h2 {
    color: rgba(191, 146, 91);
    font-size: 16px;
}
.container p {
    font-size: 45px;
}
.container span {
    -webkit-text-stroke: 1px white;
    color: transparent;
    }
.container2 {
    margin: 0px 60px;
}
.container2 p {
    font-size: 18px;
    line-height: 32px;
}
.verticle-line{
    height: 186px;
    border-left: 3px solid rgba(191, 146, 91);
    position: absolute;
    left: 18px;
    margin-left: -5px;
    margin-top: -5px;
}
.container2 a {
    color: rgba(191, 146, 91);
    font-size: 20px;
    transition:   0.8s;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid;
    display: inline-block;
    padding: 4px 10px;
margin: 14px 0px;
}
.container2 a:hover {
    color: white;
}
.card{
   display: flex;
   text-align: center;
}
.card .card1{
 background-color: rgba(1191, 146, 9);
 margin-bottom: 40px;
 width: auto;
 padding: 40px;
 line-height: 29px;
 color: white;
 position: relative;
}
.card .card2{
    background-color:
    rgb(184, 121, 43);
    margin-bottom: 40px;
    width: auto;
    padding: 40px;
    line-height: 29px;
    color: white;
    position: relative;
   }
 .card h3{
 font-size: 26px;
 margin-top: 50px;
 margin-bottom: 20px;
 }
 .card p{
    font-size: 18px;
    font-weight: bold;
 }
 
 .card img{
    width: 160px;
    height: 160px;
    border-radius: 80px;
    position:absolute;
    top: -30%;
    transform: translateX(-50%);
    z-index: 999;
    padding: 2px;
 } 
  .jason{
    width: 40%;
    background-size: cover;
    background-attachment: fixed;
    
 }

 .container3 .color{
    color:
    rgb(184, 121, 43);
    font-size: 18px;
    font-family:
    'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 28px;
    font-weight: bold;
}
.container3 .center{
    font-size: 35px;
    font-weight: bold;
    color: rgba(28, 28, 28, 0.881);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container3 .for{
    font-size: 16px;
    font-weight: bold;
    color: rgba(61, 61, 61, 0.74);
    line-height: 29px;
    font-family:
    'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container3 .right{
   border: 5px solid rgb(185, 126, 55);
   background-color: rgb(179, 125, 60);
   width: 35%;
   color: white;
}
.container3 .right p{
    font-weight: bold;
    font-size: 15px;
    margin: 0px 99px;
}
.container3 .abdul{
    margin-top: -54em;
    margin-left: 40em;
}
.container3 .hadi{
    margin-top: -80px;
    width: 75%;
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.container3 .calendar{
    width: 80px;
    }

    .testiomial{
        background-color: rgb(235 232 222);
        font-weight: bold;
        margin-top: 69vh;

    }
    .testiomial h4{
        text-align: center;
        color: rgba(191, 146, 91);
    }
    .ahmad2{
         text-align: center;
         font-size: 30px;
    }
    .abd{
        border-radius: 3px;
        background: white;
        padding: 15px;
        display: flex; 
        box-shadow:1px 1px black;
        width: 28%;
}
.row{
    display: flex;
    justify-content: space-evenly;
    }
 
    .abd .style{
        width: 100px;
        height: 90px;
        border-radius: 50%;
        
    }
    .abd ul i{
        color: rgba(191, 146, 91);
        display: inline-block;
        text-align: center;
        justify-content: center;
        
    }
    .abd p{
        padding: 21px;
        font-size: 23px;
        color: rgba(0, 0, 0, 0.616);
        }
        .abd h3 {
            font-size: 22px;
            
            margin: -60px 0px 0px 110px;
       }
        .abd h4{
            margin-top: 10px;
            
        }
       .abd .cittat{
        width: 70px;
        height: 60px;
        border-radius: 50%;
        margin-top: -100px;
        z-index: 999;
        padding: 8px;
     } 
   
    footer{
        position: relative;
        width: auto;
        height: auto;
        background: rgb(20, 27, 37);
    }
footer .footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin: 0 55px;
}


footer .footer  h2{
    position: relative;
    color: #fff;
    font-weight: bold;
    margin-bottom: 18px;
    margin-top: 45px;
}

footer .footer h2::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: -0px;
    width: 50px;
    height: 2px;
}

footer .footer .div p{
    color: rgba(255, 255, 255, 0.227);
}
.sci{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 20px;
}
.sci li{
    list-style: none;
}
.sci li a{
     display: inline-block;
     width: 45px;
     height: 45px;
     text-align:
     center;
     justify-content:center;
     color: white;
     text-decoration: none;
     border-radius: 50px;
     background-color: rgba(191, 146, 91);
}

    .links{
        position: relative;
    }

    .links li{
        list-style: none;   
        line-height: 20px;
    }
    .links li a{
        color: white;
        text-decoration: none;
        margin-bottom: 18px;
        display: inline-block;
    }
    .links li a:hover{
        color: rgba(191, 146, 91);
    }
    .have{
        position: relative;
    }
    .have li{
        display: grid;
        grid-template-columns: 40px 1fr;
        margin-bottom: 16px;
    }
    .have li span:nth-child(1)
    {color: rgba(191, 146, 91);font-size: 20px;}
    .have li span{
            color: white;
    }
    .have a{
        color: white;
        text-decoration: none;
    }
    .have a:hover{
        color: rgba(191, 146, 91);
    }
   
